/* :root {
    --clr-white: #ffffff;
    --clr-grey: #212121;
    --clr-grey-1: #2f303a;
    --clr-grey-2: #757575;
    --clr-grey-3: rgba(255, 255, 255, 0.6);
    --clr-grey-light: #f5f4fa;
    --clr-black: #000000;
    --clr-hover: #2196f3;
    --clr-icon: #afb1b8;
    --clr-box-hover: rgba(33, 150, 243, 0.9);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
button {
    display: block;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    font-family: "Roboto";
    color: var(--clr-grey);
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
}
a {
    text-decoration: none;
} */
/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */
/* .section {
    padding-top: 94px;
    padding-bottom: 94px;
} */
/* --------------- HEADER --------------- */
/* .nav .active {
    position: relative;
    color: var(--clr-hover);
}
.nav > .active::after {
    position: absolute;
    bottom: -34px;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
}

.header {
    border-bottom: 1px solid #ececec;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
}
.header-datas {
    display: flex;
}
.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--clr-hover);

    margin-right: 93px;
}
.header-item {
    margin-right: 50px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-logo span {
    color: var(--clr-black);
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--clr-grey);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: var(--clr-hover);
}
.header-data {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--clr-grey-2);
    fill: var(--clr-grey-2);

    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-data:hover,
.header-data:focus {
    color: #2196f3;
    fill: var(--clr-hover);
}
.icon-data-mail {
    margin-right: 10px;
}

.header-data.tel {
    margin-right: 0;
} */

/* --------------- Wrapper --------------- */
@media screen and (min-width:769px) {
    .wrapper {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.png);
    }
}
@media screen and (max-width:768px) {
    .wrapper {
        /* max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 200px;
        padding-bottom: 200px; */
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img768.jpg);
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    }
}
@media screen and (max-width:480px) {
    .wrapper {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img480px.jpg);
    }
}
/* .wrapper-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--clr-white);

    margin: 0 auto;
    margin-bottom: 30px;

    width: 696px;
}
.wrapper-btn {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--clr-white);

    padding: 10px 32px;

    border: none;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrapper-btn:hover,
.wrapper-btn:focus {
    background-color: #188ce8;
} */
/* --------------- About --------------- */
/* .about-list {
    display: flex;
}
.about-item:not(:last-child) {
    margin-right: 30px;
}
.about-icon {
    display: flex;
    align-items: center;
}
.block {
    background-color: var(--clr-grey-light);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);

    display: block;
}
.about-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-grey);
    margin-bottom: 10px;
}
.about-subtext {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--clr-grey-2);

    width: 270px;
} */
/* 
.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms, visibility 250ms;
}
.window.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--clr-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 6px;
    margin: 8px 8px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
    fill: #2196f3;
} */
/* --------------- Business --------------- */
/* .business {
    padding-top: 0;
}
.business-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);
}
.business-list {
    display: flex;
    margin-top: 50px;
}
.bussiness-block {
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.business-item:not(:last-child) {
    margin-right: 30px;
} */
/* --------------- Team --------------- */
/* .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);
}
.team {
    background-color: #f5f4fa;
}
.team-list {
    display: flex;
    margin-top: 50px;
}
.team-item {
    background-color: var(--clr-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}
.position {
    padding: 30px 0;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);

    margin-bottom: 10px;
}
.team-job {
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey-2);
}
.masters-team {
    padding: 16px 32px 0 32px;
}
.masters-social-list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.masters-social-item {
    width: 44px;
    height: 44px;
}
.masters-social-item + .masters-social-item {
    margin-left: 10px;
}
.masters-social-link {
    fill: var(--clr-icon);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.masters-social-link:hover,
.masters-social-link:focus {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--clr-hover);
    fill: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* ------------------- Clients ------------------- */
/* .clent-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);

    margin-bottom: 50px;
}
.client-list {
    display: flex;
}
.client-item:not(:last-child) {
    margin-right: 30px;
}
.client-link {
    width: 170px;
    height: 92px;

    fill: var(--clr-icon);

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-icon);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
    fill: var(--clr-hover);
    border: 1px solid var(--clr-hover);
} */
/* --------------- FOTTER --------------- */
/* .footer {
    background-color: var(--clr-grey-1);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-element {
    align-items: baseline;
    display: flex;
}
.footer-info {
    margin-right: 70px;
}
.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--clr-white);
}
.footer-logo span {
    color: var(--clr-hover);
}
address {
    margin-top: 20px;
}
.footer-list {
    font-style: normal;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--clr-white);
}
.footer-date {
    font-size: 14px;
    color: var(--clr-grey-3);
} */
/* .join-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-white);
    margin-bottom: 20px;
}
.join-social-list {
    display: flex;
}
.join-team {
    padding: 16px 32px 0 32px;
}
.join-social-list {
    display: flex;
    justify-content: center;
}
.join-social-item {
    width: 44px;
    height: 44px;
}
.join-social-item + .join-social-item {
    margin-left: 10px;
}
.join-social-link {
    fill: var(--clr-white);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-social-link:hover,
.join-social-link:focus {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: block;
    background-color: var(--clr-hover);
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* --------------- Categories --------------- */
/* .categories-list {
    display: flex;
    justify-content: center;
}
.collection-list {
    padding-top: 50px;
}
.categorie-item:not(:last-child) {
    margin-right: 8px;
}
.categorie-link {
    background: #f5f4fa;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--clr-grey);
    padding: 10px 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categorie-link:hover,
.categorie-link:focus {
    background-color: var(--clr-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--clr-white);
} */

/* --------------- Collection --------------- */
/* .box {
    position: relative;
    overflow: hidden;
}
.collection-links {
    transition: transform 900ms cubic-bezier(0.4, 0, 0.2, 1);
}
.collection-links:hover .box-hover {
    transform: translateY(0);
}
.box-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-box-hover);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-text {
    font-size: 17px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--clr-white);
    padding: 63px 24px;
}

.collections {
    padding-top: 0;
}
.collection-list {
    display: flex;
    flex-wrap: wrap;
}
.collection-item {
    width: 370px;
    background: var(--clr-white);
    border: 1px solid #eeeeee;
    margin-right: 30px;
    margin-bottom: 30px;
}
.categorie-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.collection-links:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.collection-links:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 4px 4px rgba(0, 0, 0, 0.1), 1px 4px 6px rgba(0, 0, 0, 0.54);
}
.collection-item:nth-child(3n) {
    margin-right: 0;
}
.collection-item:nth-child(n + 7) {
    margin-bottom: 0;
}
.collection-text {
    padding: 20px 24px;
}
.collection-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--clr-grey);
}
.collection-meaning {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--clr-grey-2);
} */

/* --------------- Modal --------------- */
/* .modals {
    padding: 40px;
}
.modal-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    padding-bottom: 12px;
}
.modal-input-text {
    font-size: 12px;
    line-height: 1.17;
    display: block;
    letter-spacing: 0.01em;
    color: #757575;

    margin-bottom: 4px;
}
.modal-feild {
    margin-bottom: 10px;
}
.modal-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-img-input {
    position: relative;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}
.modal-input:hover,
.modal-input:focus {
    border: 1px solid var(--clr-hover);
}
.modal-img-input:hover {
    fill: #2196f3;
}
.modal-input:focus + .input-icon {
    fill: #2196f3;
}
.user-text {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    outline: none;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-text:hover,
.user-text:focus {
    border: 1px solid var(--clr-hover);
}
.user-text::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-btn {
    background-color: #2196f3;
    border: none;
    border-radius: 4px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--clr-white);
    padding: 10px 55px;

    margin-top: 30px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--clr-grey-2);
}
.modal-check-text::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--clr-black);
    border-radius: 2px;

    margin-right: 7px;
}
.modal-check-link {
    margin-left: 5px;
    color: var(--clr-hover);
    border-bottom: 0.67px solid var(--clr-hover);
}
.modal-check:checked + .modal-check-text::before {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
} */

/* --------------- Footer --------------- */
/* .footer-subscribe {
    margin-left: 93px;
}
.footer-subcrive-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--clr-white);

    margin-bottom: 20px;
}
.footer-input-btn {
    display: flex;
}

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;

    padding-left: 16px;
    margin-right: 12px;
}
.footer-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--clr-white);

    display: flex;

    padding: 10px 28px 10px 29px;
    border: 0;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}
.input-btn-icon {
    margin-left: 10px;
} */
