:root {
    --clr-white: #ffffff;
    --clr-grey: #212121;
    --clr-grey-1: #2f303a;
    --clr-grey-2: #757575;
    --clr-grey-3: rgba(255, 255, 255, 0.6);
    --clr-grey-light: #f5f4fa;
    --clr-black: #000000;
    --clr-hover: #2196f3;
    --clr-icon: #afb1b8;
    --clr-box-hover: rgba(33, 150, 243, 0.9);
}